* {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 90px;
  width: 100%;
  /* background-color: #097fbe; */
  display: flex;
  justify-content: center;
  color: white;
  line-height: 90px;
  position: fixed;
}

.container {
  width: 90%;

  /* background-color: red; */
  display: flex;
}

.header_container {
  justify-content: space-between;
}

.logo {
  height: 90px;
  width: 15%;
  /* background-color: yellow; */
  font-size: 40px;
  font-family: "Segoe UI";
  text-align: center;
  font-weight: bold;
}

.nav {
  height: 90px;
  width: 35%;
  /* background-color: green; */
  display: flex;
}

.nav-item {
  width: 20%;
  height: 90px;
  /* background-color: gray; */
  font-family: "Segoe UI";
  text-align: center;
  line-height: 90px;
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.nav-item:hover {
  background-color: white;
  color: #097fbe;
}

.banner {
  height: 95vh;
  width: 100%;
  background-color: gray;
  background-image: url(/images/banner.jpg);
  background-size: cover;
}

.overlay {
  height: 800px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}

.banner_text {
  height: 350px;
  width: 45%;
  background-color: rgba(159, 159, 160, 0.7);
  font-family: "Segoe UI";
  display: flex;
  align-items: center;
  color: white;
}

.banner_title {
  font-size: 50px;
  margin-bottom: 15px;
}

.banner_desc {
  margin-bottom: 30px;
}

.padd {
  padding: 20px;
}

.banner_btn {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Segoe UI";
  border: 3px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.banner_btn:hover {
  background-color: white;
  color: #097fbe;
}

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI";
  background-color: #e6e6e6;
}

.services_container {
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  height: 400px;
  width: 46%;
  background-color: white;
  display: flex;
  margin-top: 40px;
}

.service_img {
  width: 40%;
  height: 400px;
  /* background-color: red; */
  display: flex;
  overflow: hidden;
}

.service_details {
  width: 60%;
  height: 400px;
  /* background-color: green; */
  display: flex;
  align-items: center;
}

.service_btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background-color: rgba(16, 128, 234, 1);
  color: white;
  font-weight: bold;
  font-family: "Segoe UI";
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.service_title {
  margin-bottom: 15px;
}

.service_desc {
  margin-bottom: 40px;
}
